* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
header{
    color: brown;
    background-color: rgb(231, 227, 227);
    font-size: larger;
}
img{
    background-color: black;
}


